/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 $primary-color: #00315c;

 .bold {
  position: relative;
  font-weight: bold;
 }

 body {
  position: relative;
  background-color: #FFF;
 }

.navbar-default {
  position: relative;
  background-color: $primary-color;
  border-radius: 0px !important;
  border: 1px solid $primary-color;

  a {
    position: relative;
    text-transform: uppercase;
    color: #FFF !important;
  }
}

 .header-logo {
   position: relative;
   width: 34px;
   height: 34px;
   border-radius: 34px;
   margin-top: -8px;
 }

 .uppercase {
   position: relative;
   text-transform: uppercase;
 }

 #presenter {
   position: relative;
   background-color: $primary-color;
   color: #FFF;
   margin-top: -20px;

   form {
     position: relative;

     input[type=submit] {
       position: relative;
       background-color: $primary-color;
       border: 1px solid $primary-color;
       text-transform: uppercase;
       font-weight: bold;
       width: 100%;
     }
   }
 }

 .primary-color { color: $primary-color }

 #branding {
   position: relative;

   #brand-block {
     position: relative;
     padding-top: 0px;
     padding-bottom: 30px;

     .logo {
       width: 64px;
       height: 64px;
       border-radius: 64px;
       background-color: $primary-color;
     }
   }

   .box-background {
     position: relative;
     background-color: $primary-color;
   }

   .box {
     position: relative;
     padding-top: 70px;

     .inner-box {
       position: relative;
       margin-top: 40px;
     }

     h2  {
       position: relative;
       font-weight: bold;
       color: $primary-color;
       padding-bottom: 10px;
     }

     a {
       position: relative;
       background-color: transparent;
       width: 180px;
       color: $primary-color;
       border-radius: 25px;
       border: 2px solid $primary-color;
       text-transform: normal;
       font-weight: bold;
       transition: 0.5s;

       &:hover, &.over {
         position: relative;
         background-color: $primary-color;
         color: #FFF;
         transition: 0.5s;
       }
     }
   }
 }

 #new-job {
   position: relative;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: $primary-color;
   color: #FFF;

   a {
     position: relative;
     color: #FFF;
     background-color: transparent;
     text-transform: uppercase;
     border: 3px solid;
     margin-top: 20px;
   }
 }

 footer {
  position: relative;
  background-color: $primary-color;
  border-top: 1px solid $primary-color;
  color: #FFF;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;

  a {
    position: relative;
    color: #CCC;
  }
}

.input-group-addon {
  position: relative;
  background-color: #FFF;
  color: $primary-color;
  border-right: 0px;

  i {
    position: relative;
    background-color: $primary-color;
    border-radius: 25px;
    padding: 5px;
    color: #FFF;
  }
}

.list-item {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-border-left {
  border-left: 0px;
  width: 45px;
  height: 40px;
}